.c-article__box{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    margin: 20px 20px;
   } 

.c-article__wrap{
    height: 175px;
    width: 90%;
    background-color: #fff;
    opacity: 0.6;
    margin: 20px 0px;
     p{
        font-size: 16px;
        padding: 9px 19px;
        color: #3C2A10;
        line-height: 1.5;
        padding: 20px 20px;
      }
  }
  



