.c-article__box{
    position: absolute;
    bottom: 0;
   } 

.c-article__wrap{
    height: 174px;
    background-color: #fff;
    opacity: 0.6;
    margin: 0 20px 20px;
    .c-article__wrap p{
        font-size: 16px;
        padding: 9px 19px;
        color: #3C2A10;
        line-height: 1.5;
      }
  }
  



