@charset "UTF-8";
/**
* Fondation
* ============================== */

/* reset */

/*! destyle.css v3.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */

/* Reset box-model and set borders */
/* ============================================ */

*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */

/**
 * Prevent vertical alignment issues.
 */

svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */

/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */

[type="checkbox"] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */

option {
  padding: 0;
}

/**
 * Reset to invisible
 */

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */

[type="search"] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */

label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */

[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */

/**
1. Correct table border color inheritance in all Chrome and Safari.
*/

table {
  border-color: inherit; /* 1 */
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* base */



html{
    font-size: 100%;
}

body{
    font-family: "Yu Gothic Medium","游ゴシック",YuGothic, "游ゴシック体","ヒラギノ角ゴ Pro W3", sans-serif;

    color: #432;

    background-color: #FFFDFA;
}

a{
    text-decoration: none;
}




/**
* Layout
* ============================== */
/* header */
.l-header{
  width: 100%;
  height: 200px;
  background-color: #FFF7EF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

 /* sidebar */
 .l-sidebar{
 background-color: #F2EDE9;
 height: 100%;
 padding-left: 46px;
 overflow-x: hidden;
 position: relative;
}

/* front-image */
.l-page-front-image{
    background: url(/Users/homma/Desktop/hambargar/images/page-page001.jpg) no-repeat center;
    width: 100%;
    height: 250px;
    background-size: cover;
    display: flex;
    align-items: center;
}

/* section */
.l-page-section{
    padding: 20px 20px;
}

/* article */
.l-page-article{
    padding: 20px 20px;
    width: 834px;
    height: auto;
}


 /* footer */
 .l-footer{
  background-color: #9D8670;
  width: 100%;
  height:150px;
  color: #fff;
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
 /* Object
 * ============================== */
 
 /* Component ------------------- */
/* article */
.c-button{
    display: flex;
    text-align: center;
    justify-content: center ;
    width: 100%;
    height: 81px;
    font-weight: bold ;
    font-size: 20px;
    background-color: #F2EDE9;
    border-radius: 1rem;
    border: solid 1px #707070;
    color: #707070;
    cursor: pointer;    
    padding-left: 22px}
 
     
    


 
 /* Project ------------------- */
 
 /* header */
 
 .p-header__title{
   color:#707070;
   font-size: 40px;  
   font-weight: bold;
   padding: 20px;
 }
 
 .p-header__form__box{
   width: 230px;
   height: 46px;
   border-radius: 0.6rem; 
   border: solid 1px #707070;
   font-size: 1.6rem;
   cursor: pointer;
   background-color: white; 
   margin: 10px  
 }
 
 .p-header__form__button{
   width: 78px;
   height: 46px;
   font-weight: bold ;
   background-color: #F2EDE9;
   border-radius: 0.6rem;
   border: solid 1px #707070;
   color: #707070;
   cursor: pointer;    
   padding-left: 22px
 }
 
 
 /* sidebar */
 
.p-sidebar__word{
    display: none;
}

 .p-sidebar__menu{
   padding-top: 200px;
   padding-left: 30px;
 }
 
 
 .p-sidebar__menu li{
   padding-bottom: 15px;
   font-size: 24px;
 }
 
 .p-sidebar__mainmenu{
   display: block;
   font-size: 34px;
   font-weight: 600;
   color: #707070;
   padding-top: 8px;
   padding-bottom: 40px;
 }
 
 
 .p-sidebar__submenu li a{
   color: #707070;
   font-size: 20px;
   padding-left: 20px;
 }
 
 .p-sidebar__hamburger {
   position: absolute;
   right: 20px;
   top: 20px;
   width: 50px;
   height: 40px;
   cursor: pointer;
   z-index: 300;
 }
 
 .p-sidebar__hamburger span {
   position: absolute;
   width: 50px;
   height: 6px;
   right: 0;
   background-color: #707070;
 }
 
 .p-sidebar__hamburger:after{
   content:"Menu";
   margin-top:1px;
   margin-left:-10px;
   color: #707070;
   font-size: 20px;
   font-weight: bold;
   cursor: pointer;
   border: none;
 }
 
 .p-sidebar__hamburger__line--1 {
   opacity: 0;
 }
 
 .p-sidebar__hamburger__line--2 {
   opacity: 0;
 }
 
 .p-sidebar__hamburger__line--3 {
   opacity: 0;
 }
 
 .open .p-sidebar__hamburger:after{
   content:"";
 }
 .open .p-sidebar__hamburger__line--1 {
   transform: rotate(-45deg);
   top: 11px;
   opacity: 1;    
 }
 
 .open .p-sidebar__hamburger__line--2 {
   opacity: 0;
 }
 
 .open .p-sidebar__hamburger__line--3 {
   transform: rotate(45deg);
   top: 11px;
   opacity: 1;
 }
 
 
 .p-sidebar__menu {
   position: fixed;
   top: 0;
   right: 0;
   width: 70%;
   height: 100vh;
   background-color: #fff;
   z-index: 200;
   overflow-y: auto; 
   opacity: 0;
   transition: opacity .3s linear;
 }
 
 .open .p-sidebar__menu {
   pointer-events: auto;
   opacity: 1;
 }
 
 .p-sidebar__black-bg {
   position: fixed;
   left: 0;
   top: 0;
   width: 100vw;
   height: 100vh;
   z-index: 5;
   background-color: #000;
   opacity: 0;
   visibility: hidden;
   transition: all 0.5s;
   cursor: pointer;
   z-index: 100;
 }
 
 .open .p-sidebar__black-bg {
   opacity: 0.6;
   visibility: visible;
 }
 
 
/* front-image */

.p-front-image__word{
    color: #fff;
    font-size: 55px;
    font-weight: 500;
    padding-left: 35px;
    }
 
/* section */
.p-section__word{
    padding: 33px 0;
    }
    
.p-section__word h2,h3,h4,h5,h6{
    font-weight: bold;
    }

.p-section__word h3,h4,h5,h6{
    padding-top:30px 
}

.p-section__word h2{
    font-size: 28px;
}

.p-section__word p{
    font-size: 16px;
    line-height: 1.6;
    padding-top:30px
    }

.p-section__word h3{
    font-size: 24px;
    }

.p-section__word h4,h5,h6{
    font-size: 20px;
    }

.p-section__wrap{
    width: 100%;
    height: auto;
    background-color: #F5F5F5;
    padding-bottom: 50px;
    }

.p-section__wrap a{
    text-decoration: underline;
    color: #4A6C9B;
    }

.p-section__wrap blockquote{
    padding: 50px 60px 0 50px;
    line-height: 1.6;
    }

.p-section__wrap p{
padding: 50px 60px 0 50px;
    }

   /* article */
   .p-picture__top img{
    width: 100%;
    height: 100%;
    padding: 15px 0;
}

.p-picture__left {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 25px 0;
}

.p-picture__left img {
    width: 40%;
}

.p-picture__right {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 25px 0;
}

.p-picture__right img {
    width: 40%;
}

.p-picture__right p{
    line-height: 1.5;
    height: 176px;
    padding-left: 10px;
}

.p-picture__bottom {
    display: flex; 
    justify-content: center; 
    padding-top:125px;    
}

.p-picture__bottom img{
    width: 80%;
    height: 100%;    
}

.p-picture__group img{
    width: 100%;
    height: 100%;
    padding: 15px 0;
}

.p-page-list{
    width: 100%;
    padding: 67px;
    font-size: 16px;
}

.p-page-list ol{
    line-height: 1.6;
    padding-bottom: 60px;
}

.p-page-list ol li{
    list-style: decimal;
}

.p-page-list ol li ol{
    padding: 30px 20px;
}

.p-page-list ul{
    line-height: 1.6;;
}

.p-page-list ul li ul{
    padding: 30px 20px;
}

.p-page-code{
    width: 100%;
    background-color: #F5F5F5;
    padding: 50px;
}
 
code{
    font-size: 16px;
    line-height: 1.6;    
}

.p-page-table{
    width: 100%;
    padding: 60px 0;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing:0px;}

.p-page-table table{
    font-size: 16px;
    width: 100%;
    border-spacing: 0;
    border: solid 1px;
}  

.p-page-table table tr{
    padding: 30px;
}

.p-page-table table tr th,th,td{
    padding: 30px;
    font-weight: 500;
    border: solid 0.5px;
    text-align: center;
    border-color: #707070;
}

.p-page-table table tr th,th{
    padding: 30px;
    font-weight: 500;
    border: solid 0.5px;
    text-align: center;
    border-color: #707070;
}


.p-lastword{
    font-weight: bold ;
    font-size: 16px;
    padding-top: 40px;
    padding-bottom: 160px; 
}


/* footer */
.p-footer__section{
  display: flex;
  justify-content: center;   
  font-size: 20px
}

.p-footer__content1{
    padding-right:30px 
}

.p-footer__content1::after{
  position: absolute;
  left: 187px;
  content: "";
  width: 2px;
  height: 20px;
  background-color: #fff;
}
 
 
/* Utility ------------------- */

@media screen and (min-width: 375px) {
/**
* Layout
* ============================== */
    
/* header */
          
/* sidebar */
           
/* front-image */
.l-page-front-image{
    height: 500px;
}

/* section */  
    
/* article */    
       
/* footer */
.l-footer{
    background-color: #9D8670;
    width: 100%;
    height:150px;
    color: #fff;
    display: flex;  
    flex-direction: column;
    align-items: center;
     justify-content: space-around;
     }


/* Object
* ============================== */
           
/* Component ------------------- */
           
/* article */
.c-button{
    width: 40%;
}
/* Project ------------------- */
           
/* header */
           
.p-header__title{
    color:#707070;
    font-size: 40px;  
    font-weight: bold;
    padding: 20px;
        }
           
.p-header__form__box{
    width: 396px;
    height: 46px;
    border-radius: 0.6rem; 
    border: solid 1px #707070;
    font-size: 1.6rem;
    cursor: pointer;
    background-color: white; 
     margin: 10px  
        }
           
.p-header__form__button{
    width: 136px;
    height: 46px;
    font-weight: bold ;
    background-color: #F2EDE9;
    border-radius: 0.6rem;
    border: solid 1px #707070;
    color: #707070;
    cursor: pointer;    
    padding-left: 50px
        }
           
           
/* sidebar */     
      
.p-sidebar__hamburger:after{
    content:"Menu";
    margin-top:1px;
    margin-left:-50px;
    color: #707070;
    font-size: 34px;
    font-weight: bold;
    cursor: pointer;
    border: none;
        }
              
/* front-image */   
      
/* section */
    
/* article */
.p-picture__left p{
    line-height: 1.5;
    padding: 0 20px;
}

.p-picture__right p{
    line-height: 1.5;
    padding: 0 20px;
}

.p-picture__bottom{
    height: 387px;
}

.p-picture__group{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    padding-top: 150px;
}

.p-picture__group img{
    width: 50%;
    height: 200px;
    padding: 10px 10px;
    
}

    
/* footer */
.p-footer__section{
        display: flex;
        justify-content: center;   
        font-size: 20px
          }
          
.p-footer__content1{
         padding-right:30px 
          }
          
.p-footer__content1::after{
        position: absolute;
        left: 417px;
        content: "";
        width: 2px;
        height: 20px;
        background-color: #fff;
          }
           
        }



@media screen and (min-width: 834px) {

/**
* Layout
* ============================== */
/* maincontents */
.l-maincontents{
    display: flex;
    width: 100%;
    }
            
            
/* header */
.l-header{
    width: 100%;
    height: 200px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    } 
              
/* sidebar */
.l-sidebar{
    background-color: #F2EDE9;
    height: 100%;
    overflow-x: hidden;
    position: relative;
    overflow-x: visible;
    width: 100%;
    }
              
/* front-image */

/* section */ 
              
/* article */
.l-page-article{
    width: 100%;
}                     
              
/* footer */
            
/* Object
 * ============================== */
               
/* Component ------------------- */
               
/* article */
            
               
/* Project ------------------- */
/* maincontents */
.p-maincontents__right{
    width: 20%;
    }
            
.p-maincontents__left{
    width: 80%;
    }
            
/* header */ 
.p-header__title{
    font-size: 60px;  
    }
            
.p-header__form{
    padding-right: 20px;
    }
              
.p-header__form__box{
    width: 396px;
    }
              
.p-header__form__button{
    width: 136px;
    padding-left: 52px;
    }     
            
            
/* sidebar */
            
.p-sidebar__word{
    position: absolute;
    display: block;
    font-size: 34px;
    font-weight: 600;
    color: #707070;
    padding-top: 80px;
    padding-left: 30px;
    }
              
.p-sidebar__menu li{
    padding-bottom: 20px;
    font-size: 20px;    
    }
              
.p-sidebar__mainmenu{
    display: block;
    font-size: 26px;
    font-weight: 600;
    color: #707070;
    padding-top: 7px;
    padding-bottom: 40px;
    margin-right: 20px;
    }
              
              
.p-sidebar__submenu li a{
    color: #707070;
    font-size: 20px;
    padding-left: 30px;
    }
              
.p-sidebar__hamburger {
    display: none;
    }
              
.p-sidebar__menu {
    width: 100%;
    height: 2100px;
    position: static;
    opacity: 1;      
    }
              
.open .p-sidebar__menu {
    pointer-events: auto;
    opacity: 1;
    }
         
/* section */
       
/* article */
.p-picture__bottom{
    padding-top: 0;
    }
    
.p-picture__bottom img{
    width: 60%;
    height: 350px;
    }    
    
.p-picture__group{
    padding-top: 0px;
}

.p-picture__group img{
    width: 30%;
}

 
/* footer */
.p-footer__content1::after{
    position: absolute;
    left: 730px;
    content: "";
    width: 2px;
    height: 20px;
    background-color: #fff;
}
               
/* Utility ------------------- */
                           
}